@using Models.Models
@model List<Theme>

<div class="text-center">
    <div class="background_main_page">
        <div class="base_main_page">
            <div class="base_shadow_main_page">
                <div class="title_container_main_page" style="display: flex; justify-content: center; align-items: center; ">
                    <div class="title_base_main_page" style="transform: translateY(-50px);">
                        <span class="title_text_main_page">Выбери свое wiki </span>
                    </div>
                </div>
                <div class="themes_container_main_page" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                    @foreach(var item in Model)
                    {
                        <div class="theme_base_main_page">
                            <div class="theme_base_shadow_main_page">
                                <a class="nav-link text-dark" asp-controller="Article" 
                                asp-action="Index" 
                                asp-route-themeId="@item.ThemeId" title="@item.Name">
                                    <img src="@item.ImagePath" width="189" height="255" alt="@item.Name" style="object-fit: contain;">
                                </a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
